/*
* @Author: 李晓涵
* @Date:   2019-06-10 21:47:20
* @Last Modified by:   李晓涵
* @Last Modified time: 2019-06-11 14:19:13
*/
body{
    margin:0 auto;
    background-color:#ffffff;
}
*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
}
a{
	padding-top: 4px;
	display: inline-block;
	float: right;
}
li{
	list-style: none;
}

.nav{
	width: 100%;
	height: 30px;
	background-color:#f4f4f4;
}
.nav-0{
	width: 1200px;
	margin: 0 auto;
}
.nav-1{
	padding-top: 4px;
	display: inline-block;
	float: left;
}

.nav img{
	float: left;
}
/* .nav a{
	color: black;
} */
.nav-2{
	padding-top: 4px;
	display: inline-block;
	float: left;
}
.nav-3{
	padding-top: 4px;
	display: inline-block;
	float: right;
}
.box-0{
	width: 1200px;
	height: 160px;
	margin: 0 auto;
}
.box-1{
	display: inline-block;
	width: 520px;
	height: 120px;
	padding-top: 50px;
	padding-left: 120px;
	float: right;

}
.box-2{
	width: 100%;
	background-color: #ffffff;
	height: 163px;
	border-bottom:3px solid #e00304;

}
.box-3{
	width: 100%;
	height: 653px;
	background-color:#fbfbfb;
}
.photo-1{
	float: right;
	padding-top: 40px;
	padding-right: 5px;
}
.box-4{
	width: 1200px;
	height: 40px;

	
}
.nav-4{
	display: inline-block;
	float: left;
	height: 36px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;

}
/* .box-4 a{
	color: black;
} */
.nav-4:hover{
	display: block;
	background-color: #fd0304;
}
.input text{
	border: 1px solid #f83838;
	width: 500px;
	height: 40px;
	display: inline-block;
	margin-left: 150px;
	margin-top: 20px;
}

